@import "src/style/vars";

.block {
  padding: 20px 0;
}

.wrap {
  padding: 30px 17px;
  background-color: $medium-black;
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    padding: 30px 47px;
  }
  @media screen and (min-width: $desk_sm) {
    padding: 40px 47px;
  }
}

.text {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 18px;
  color: #ffffff60;
  max-width: 883px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}
