@import "src/style/vars";

.block {
  background-image: url(../../../../assets/images/welcome/bg.jpg);
  background-size: cover;
  background-position: 44% center;
  background-repeat: no-repeat;
  min-height: 642px;
  padding-top: 100px;

  @media screen and (min-width: $tablet) {
    min-height: 576px;
    padding-top: 110px;
    background-position: 31% center;
  }

  @media screen and (min-width: $desk_sm) {
    min-height: 717px;
    padding-top: 120px;
  }
}

.slogan {
  max-width: 133px;
  aspect-ratio: 234/70;
  margin-bottom: 35px;

  @media screen and (min-width: $tablet) {
    max-width: 180px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: $desk_sm) {
    max-width: 234px;
    margin-bottom: 35px;
  }
}
